.service_lijntje {
    margin-top: 8px;
    width: 5px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: var(--Pink, #f4c5fe);
}

.serviceplanstitel {
    margin-left: 25px;
}

.serviceplanstitle1 {
    margin-top: 64px;
    margin-left: 25px;
}

.service_plans_text_opsomming {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-bottom: 8px;
}

.serviceplanstext1 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 11px;
    margin-right: 11px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.plans_container {
    display: flex;
    flex-direction: row;
    /* Verandert de layout naar een rij-indeling */
    justify-content: space-between;
    /* Optioneel: om ruimte tussen de items te creëren */
}

.plans_container>div {
    flex: 1;
    /* Zorgt ervoor dat elke component evenveel ruimte krijgt */
    margin-right: 20px;
    /* Optioneel: afstand tussen de componenten */
}

.plans_container>div:last-child {
    margin-right: 0;
    /* Zorgt ervoor dat de laatste component geen margin heeft aan de rechterkant */
}

@media (min-width: 1200px) {
    .plans_container {
        .plans_container {
            margin-left: 120px;
            display: flex;
            flex-direction: row;
            /* Handhaaf rij-indeling ook voor grotere schermen */
            max-width: none;
            /* Verwijder de beperking van max-width voor grotere schermen */
        }
    }
}