.prices_intro {
  margin-top: 100px;
}

.prices_accent {
  color: #f4c5fe;
  font-family: "Martian Mono", monospace;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 2rem 0.75rem;
}

.prices_title {
  font-family: "area-normal", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 0rem 0.75rem;
}


.prices_paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  padding: 2.75rem 0.75rem;
}

.intro_prices_img_container {
  display: none; 
}

.content_wrapper_prices {
  display: flex;
  flex-direction: column; 
}

.prices_button{
  margin-left: 0.75rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  
  .prices_intro {
    margin-left: 8rem;
  }

  .prices_accent{
    margin-left: 0.5rem;
    margin-top: 7rem;
    margin-bottom: -2rem;
  }
  
  .prices_title {
    font-size: 4rem;
    white-space: normal; 
    max-width: 22ch; 
    line-height: 1.2; 
  }

  .prices_paragraph{
    font-size: 1rem;
  }

  .content_wrapper_prices {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start; 
  }
  
  .prices_paragraph {
    flex: 1;
    padding-right: 2rem;
    max-width: 60ch; 
    margin-top: 2rem;
  }

  .intro_prices_img_container {
    display: block;
    margin-right: 8rem;
    padding: 2rem;
    width: 50%; 
  }

  .intro_prices_img {
    width: 100%; 
    height: auto; 
  }


  .prices_cardOne, .prices_cardMonthly, .prices_cardAnnual { 
    padding: 2rem;  
    margin-bottom: 5rem;
    width: 450px;
  }

  .prices_cards {
    flex-direction: row;
    gap: 4rem;  
    justify-content: center;  
  }

  .liner_left, .liner_right {
    display: none;
  }

  .prices_services{
    max-width: 45rem;
  }

  .prices_button{
    margin-left: 1rem;
    margin-top: -15rem;
    margin-bottom: 16rem;
  }

}