.dashboard_button_design {
    margin-top: 64px;
    width: 286px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--Dark-Teal, #003A47);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 70px;
}

.dashboard_button_tekst {
    font-family: "Area Normal";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}