.simpleText {
  color: greenyellow;
  /* Of gebruik een specifieke groene kleurcode, bijvoorbeeld: #008000 */
  font-size: 3rem;
  /* Dit is optioneel, afhankelijk van de gewenste grootte */

  font-family: "Martian Mono", monospace;
  font-weight: 500;
}

.zeng {
  font-family: "Martian Mono", monospace;
  font-weight: 500;
}

.introtext {
  margin-left: 4%;
}
