.servicesubtext {
    padding-top: 90px;
    font-family: "Martian Mono", monospace;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: #F4C5FE;
    margin-top: 28px;
    font-size: 0.75rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
}

.headertekst {
    width: 18rem;
    height: 10.75rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    margin-left: 1.5rem;
}

.headertekstbold {
    font-family: "Martian Mono", monospace;
    font-weight: 500;
    font-weight: bold;
    color: #A8FF1A;
    margin-left: 1.5rem;
}

.serviceheadertekst {
    font-family: "area-normal", sans-serif;
    font-weight: 500;
    color: white;
    width: 21rem;
    height: 3.75rem;
    margin-top: 4.5rem;
    margin-left: 1.5rem;
    margin-bottom: 100px;
}

.servicebuttondesign {
    width: 10.063rem;
    height: 2.75rem;
    background-color: #003846;
    margin-top: 3.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    margin-left: 1.5rem;
}

.servicebutton {
    font-size: 1rem;
    font-family: "area-normal", sans-serif;
    font-weight: 700;
    color: #A8FF1A;
    font-size: 1rem;
}

.servicephoto {
    margin-top: 4.75rem;
    height: 13.438rem;
    width: 21rem;
    margin-left: 1.5rem;
}