.aboutussubtext {
  color: rgb(251, 161, 224);
  font-size: 0.75rem;
  margin-left: 5%;
  margin-top: 2.625rem;
}

.icon-holder {
  width: 90px;
  height: 90px;
  margin-left: 5%;
  margin-top: 10px;
}

.blok-aboutustexteen {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5%;
  width: 320px;
  margin-top: 1px;
  display: grid;
  grid-template-rows: auto auto auto; /* Twee rijen voor visual en tekst */
  row-gap: 16px; /* Ruimte tussen de rijen */
}

.toolstext {
  color: #a8ff1a;
  font-family: "Martian Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  margin-left: 5%;
}

.howtext {
  font-family: "Martian Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5%;
  margin-top: 52px;
}
