@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey: grey;
  --DarkGreen: #012524;
  --DarkTeal: #003846;
  --OffWhite: #fdfff9;
  --Pink: #f4c5fe;
  --LimeGreen: #a8ff1a;
  --LightLime: #eaffbc;
  --LimeGradient: linear-gradient(#a8ff1a, #eaffbc);
  --PinkGradient: linear-gradient(#f4c5fe, #eaffbc);
  --TealGradient: linear-gradient(#003846, #fdfff9);
}

/* //// FONTS
////// AREA NORMAL
  font-family: "area-normal", sans-serif;
  font-weight: 700;

  ////// MARTIAN MONO MEDIUM
font-family: "Martian Mono", monospace;
font-weight: 500;

////// INTER REGULAR
font-family: "Inter", sans-serif;
font-weight: 400;

*/

body {
  background-color: var(--DarkGreen);
}
/* ////////////////////////////////// */
/* navbar */
/* ////////////////////////////////// */
.header-container {
  display: flex;
  background-color: var(--DarkGreen);
  margin: 0;
  width: 100%;
  z-index: 10;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  padding: 0.75rem 1rem;
  align-items: center;
  font-family: "area-normal", sans-serif;
  font-weight: 700;
}

.logo {
  height: auto;
  width: 100%;
  max-width: 10rem;
}

.menu-button {
  display: none;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
  background-color: rgb(150, 150, 150, 0.5);
  border-radius: 9999px;
  padding: 0 3rem;
}

.nav-link {
  color: var(--OffWhite);
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  color: var(--LimeGreen);
}

.btnservice {
  display: flex;
  flex-direction: row;
}

.contact-button {
  margin-left: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  color: var(--DarkGreen);
  background-color: var(--Pink);
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: var(--LimeGreen);
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@media (max-width: 880px) {
  .header-content {
    width: 95vw;
  }
  .navigation-list {
    display: none;
    background-color: var(--DarkGreen);
    border-radius: 0;
  }

  .menu-button {
    display: block;
    padding: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    width: 1.5625rem;
    height: 0.1875rem;
    background-color: var(--OffWhite);
    position: relative;
    transition: all 0.3s ease;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 1.5625rem;
    height: 0.1875rem;
    background-color: var(--OffWhite);
    transition: all 0.3s ease;
  }

  .hamburger::before {
    top: -0.5rem;
  }

  .hamburger::after {
    bottom: -0.5rem;
  }

  .hamburger.open {
    background-color: transparent;
  }

  .hamburger.open::before {
    transform: rotate(45deg);
    top: 0;
  }

  .hamburger.open::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  /* Slide-in and slide-out animations for mobile */
  .menu-open .navigation-list {
    display: flex;
    flex-direction: column;
    text-align: start;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    padding: 1rem;
    padding-top: 2rem;
    gap: 3rem;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards;
  }

  .menu-closed .navigation-list {
    /* display: flex;
    flex-direction: column;
    text-align: start;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    padding: 1rem;
    padding-top: 5rem;
    gap: 3rem; */
    transform: translateX(0);
    animation: slideOut 0.5s forwards;
  }

  .nav-link {
    display: block;
    font-size: 1.5rem;
    width: 20rem;
    padding: 0 0.5rem;
    border-bottom: 0.5px solid var(--OffWhite);
    border-radius: 0;
  }

  /* Dropdown menu */
  .dropdown-button {
    display: flex;
    background-color: transparent;
    border: none;
    /* geen idee waarom maar dit werkt */
    padding: 1rem 0;
    width: 20rem;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    gap: 1rem;
    z-index: 10;
  }

  .dropdown-item {
    padding: 0.75rem 1rem;
    color: var(--OffWhite);
    font-family: "Martian Mono", monospace;
    font-weight: 500;

    text-decoration: none;
  }
  .btnservice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-button {
    font-size: 0.75rem;
    white-space: nowrap;
  }

  @media (max-width: 880px) {
    .dropdown-menu {
      position: static;
    }
  }
}
