.servicebodyconfigtitel {
    font-family: "Martian Mono", monospace;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5rem;
    width: 21rem;
    margin-top: 6.25rem;
    margin-left: 1.5rem;
}

.servicebodyconfgititeltekst {
    width: 20.938rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    margin-top: 1.688rem;
    margin-left: 1.5rem;
}

.servicebodybuttondesign {
    width: 10.063rem;
    height: 2.75rem;
    background-color: #A8FF1A;
    margin-top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    margin-left: 1.5rem;
}

.servicebodybutton {
    font-size: 1rem;
    font-family: "area-normal", sans-serif;
    font-weight: 700;
    color: #003A47;
    font-size: 1rem;
}